<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout :: html(head = ~{::head}, content = ~{::content})}">
<th:block th:fragment="head">
  <title th:text="${(boardData != null and boardData['name'] != null ? boardData['name'] : '排行榜') + ' 排行榜 · ' + (pageTitle ?: 'AI大模型排行榜')}">排行榜</title>
  <meta name="description" th:content="${description}">
  <link rel="stylesheet" href="/plugins/plugin-deepswe-leaderboard/assets/deepswe-app.css?version=1.0.5">
</th:block>
<th:block th:fragment="content">
  <div class="ds-wrap">
    <div class="ds-head">
      <a class="ds-back" th:href="@{/benchmarks}">← 返回排行榜</a>
      <h1 th:text="${(boardData != null and boardData['name'] != null ? boardData['name'] : '排行榜') + ' 排行榜'}">排行榜</h1>
      <p class="ds-lead" th:text="${description}">排行榜简介</p>
    </div>
    <div id="deepsweApp" class="ds-app"></div>
    <div class="ds-meta" id="dsMeta"></div>
    <script th:inline="javascript">
      window.DEEPSWE_DATA = /*[[${boardData}]]*/ null;
      window.DEEPSWE_DEFAULT_VIEW = /*[[${boardDefaultView}]]*/ "table";
      window.DEEPSWE_BASE = /*[[${boardBase}]]*/ null;
    </script>
    <script src="/plugins/plugin-deepswe-leaderboard/assets/deepswe-app.js?version=1.0.5"></script>
  </div>
</th:block>
</html>